INSTALL
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
py-compile
po/Makefile.in.in
*~
*.log
*.diff
stamp*
*-marshal.[ch]

bindings/python/totem.c
browser-plugin/marshal.[ch]
browser-plugin/test-glow-button
browser-plugin/totem-plugin-viewer
browser-plugin/totem-plugin-viewer-interface.h
data/nautilus-audio-mime-types.h
data/totem-mime-types.h

data/totem-handlers.schemas
data/totem-handlers.schemas.in
data/totem-video-thumbnail.schemas
data/totem-video-thumbnail.schemas.in
data/totem.desktop
data/totem.desktop.in
data/totem.desktop.in.in
data/totem.schemas
data/update-gconf.sh

docs/reference/version.xml

help/totem-docs.h
help/*/totem.xml

# no idea what's up with help/bg/ and why it's different than all the other
# help/*/, but it's clearly intentional
help/bg/omf_timestamp
help/bg/totem-bg.omf.out

src/backend/bvw-test
src/plugins/sample-vala/totem-sample-vala-plugin.c
src/test-properties-page
src/totem
src/totem-audio-preview
src/totem-video-indexer
src/totem-video-thumbnailer

po/.intltool-merge-cache
po/POTFILES

totem.spec
gtk-doc.make
