INSTALL
Makefile.in
aclocal.m4
autom4te.cache
bindings/Makefile.in
bindings/python/Makefile.in
bindings/vala/Makefile.in
browser-plugin/Makefile.in
compile
config.guess
config.h.in
config.sub
configure
data/Makefile.in
data/icons/16x16/Makefile.in
data/icons/22x22/Makefile.in
data/icons/24x24/Makefile.in
data/icons/32x32/Makefile.in
data/icons/48x48/Makefile.in
data/icons/Makefile.in
data/icons/scalable/Makefile.in
depcomp
gnome-doc-utils.make
help/Makefile.in
help/bg/Makefile.in
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
lib/Makefile.in
ltmain.sh
missing
mkinstalldirs
po/Makefile.in.in
src/Makefile.in
src/backend/Makefile.in
src/plugins/Makefile.in
src/plugins/bemused/Makefile.in
src/plugins/galago/Makefile.in
src/plugins/gromit/Makefile.in
src/plugins/lirc/Makefile.in
src/plugins/media-player-keys/Makefile.in
src/plugins/mythtv/Makefile.in
src/plugins/ontop/Makefile.in
src/plugins/properties/Makefile.in
src/plugins/publish/Makefile.in
src/plugins/sample-python/Makefile.in
src/plugins/sample-vala/Makefile.in
src/plugins/screensaver/Makefile.in
src/plugins/sidebar-test/Makefile.in
src/plugins/skipto/Makefile.in
src/plugins/thumbnail/Makefile.in
src/plugins/totem/Makefile.in
src/plugins/tracker/Makefile.in
src/plugins/youtube/Makefile.in
