INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
gnome-doc-utils.make
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
py-compile
po/Makefile
po/Makefile.in.in
*~
*.log
*.diff
stamp*
*-marshal.[ch]
*.o
*.lo
*.la
*.gmo
*.mo
*.omf
.deps
.libs

bindings/python/totem.c
browser-plugin/marshal.[ch]
browser-plugin/test-glow-button
browser-plugin/totem-plugin-viewer
browser-plugin/totem-plugin-viewer-interface.h
data/nautilus-audio-mime-types.h
data/totem-mime-types.h

data/totem-handlers.schemas
data/totem-handlers.schemas.in
data/totem-video-thumbnail.schemas
data/totem-video-thumbnail.schemas.in
data/totem.desktop
data/totem.desktop.in
data/totem.desktop.in.in
data/totem.schemas
data/update-gconf.sh

docs/reference/version.xml

help/totem-docs.h
help/*/totem.xml

# no idea what's up with help/bg/ and why it's different than all the other
# help/*/, but it's clearly intentional
help/bg/omf_timestamp
help/bg/totem-bg.omf.out

src/backend/bvw-test
src/plugins/sample-vala/totem-sample-vala-plugin.c
src/test-properties-page
src/totem
src/totem-audio-preview
src/totem-video-indexer
src/totem-video-thumbnailer

po/.intltool-merge-cache
po/POTFILES

totem.spec
gtk-doc.make

*.pyc

bindings/Makefile
bindings/python/Makefile
bindings/vala/Makefile
browser-plugin/Makefile
data/Makefile
data/icons/16x16/Makefile
data/icons/22x22/Makefile
data/icons/24x24/Makefile
data/icons/32x32/Makefile
data/icons/48x48/Makefile
data/icons/Makefile
data/icons/scalable/Makefile
docs/Makefile
docs/reference/Makefile
help/Makefile
help/bg/Makefile
lib/Makefile
src/Makefile
src/backend/Makefile
src/plugins/Makefile
src/plugins/bemused/Makefile
src/plugins/brasero-disc-recorder/Makefile
src/plugins/brasero-disc-recorder/brasero-disc-recorder.totem-plugin
src/plugins/coherence_upnp/Makefile
src/plugins/coherence_upnp/coherence_upnp.totem-plugin
src/plugins/dbus-service/Makefile
src/plugins/dbus-service/dbus-service.totem-plugin
src/plugins/galago/Makefile
src/plugins/gromit/Makefile
src/plugins/gromit/gromit.totem-plugin
src/plugins/iplayer/Makefile
src/plugins/iplayer/iplayer.totem-plugin
src/plugins/jamendo/Makefile
src/plugins/jamendo/jamendo.totem-plugin
src/plugins/lirc/Makefile
src/plugins/media-player-keys/Makefile
src/plugins/media-player-keys/media-player-keys.totem-plugin
src/plugins/mythtv/Makefile
src/plugins/ontop/Makefile
src/plugins/ontop/ontop.totem-plugin
src/plugins/opensubtitles/Makefile
src/plugins/opensubtitles/opensubtitles.totem-plugin
src/plugins/properties/Makefile
src/plugins/properties/movie-properties.totem-plugin
src/plugins/publish/Makefile
src/plugins/pythonconsole/Makefile
src/plugins/pythonconsole/pythonconsole.totem-plugin
src/plugins/sample-python/Makefile
src/plugins/sample-vala/Makefile
src/plugins/screensaver/Makefile
src/plugins/screensaver/screensaver.totem-plugin
src/plugins/screenshot/Makefile
src/plugins/screenshot/screenshot.totem-plugin
src/plugins/sidebar-test/Makefile
src/plugins/sidebar-test/sidebar-test.totem-plugin
src/plugins/skipto/Makefile
src/plugins/skipto/skipto.totem-plugin
src/plugins/thumbnail/Makefile
src/plugins/thumbnail/thumbnail.totem-plugin
src/plugins/totem/Makefile
src/plugins/tracker/Makefile
src/plugins/youtube/Makefile
