[D-BUS Service]
Name=org.gnome.Totem.Devel.Tracker3.Miner.Extract
Exec=/app/libexec/tracker-extract-3 --domain-ontology /app/share/tracker3/domain-ontologies/org.gnome.Totem.Devel.domain.rule

# Miner details needed for tracker-control
Path=/org/freedesktop/Tracker3/Miner/Extract
NameSuffix=Miner.Extract
