body {margin: 0; padding: 0; background: #fff; font: 12px 'Lucida Grande', Geneva, Arial, Verdana, sans-serif; color: #000;}
table, td {font: 10px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif; color: #000;}

#header {width: 680px; margin: 10px auto; text-align: center;}

#main, #breadcrumb, #footer {width: 680px; margin: 15px auto; text-align: left;}
#main div.column {text-align: left; margin-bottom: 1em;}
#main p {margin: 0 0 1em 0;}
#main p.last {margin: 0;}
#main p.intro {font-weight: bold;}
#main .lite {color: #79767c;}
#main h1 {font-size: 24px; margin: 0 0 .1em 0;}
#main h2 {font-size: 16px; margin: 0;}
#main h3 {font-size: 12px; margin: 0;}
#main h4 {font-size: 10px; margin: 0;}
#main .more {text-align: right;}

#main a.pdf {background: url(http://images.apple.com/main/elements/globaliconpdf12x12.gif) left top no-repeat; display: block; padding-left: 20px;}
#main a.html {background: url(http://images.apple.com/main/elements/globaliconhtml12x1220050802.gif) left top no-repeat; display: block; padding-left: 20px;}
#main a.qt {background: url(http://images.apple.com/main/elements/globaliconqt12x12.gif) left top no-repeat; display: block; padding-left: 20px;}
#main a.ical {background: url(http://images.apple.com/main/elements/globaliconical12x12.gif) left top no-repeat; display: block; padding-left: 20px;}
#main a.dl {background: url(http://images.apple.com/main/elements/globalicondl11x10.gif) left top no-repeat; display: block; padding-left: 20px;}
#main a.dmg {background: url(http://images.apple.com/main/elements/globalicondmg12x12.gif) left top no-repeat; display: block; padding-left: 20px;}
#main a.zip {background: url(http://images.apple.com/main/elements/globaliconzip12x12.gif) left top no-repeat; display: block; padding-left: 20px;}
#main a.keynote {background: url(http://images.apple.com/main/elements/globaliconkeynote12x12.gif) left top no-repeat; display: block; padding-left: 20px;}
#main a.audio {background: url(http://images.apple.com/main/elements/globaliconaudio12x12.gif) left top no-repeat; display: block; padding-left: 20px;}

#main .subcolumn1-2 {float: left; width: 330px;}
#main .subcolumn2-2 {float: right; width: 330px;}
#main .subcolumn1-3, #main .subcolumn2-3, #main .subcolumn3-3 {width: 212px; float: left;}
#main .subcolumn1-3, #main .subcolumn2-3 {margin-right: 20px;}

#content {float: left; width: 450px;}

#content .subcolumn1-2 {float: left; width: 215px;}
#content .subcolumn2-2 {float: right; width: 215px;}
#content .subcolumn1-3, #content .subcolumn2-3, #content .subcolumn3-3 {width: 135px; float: left;}
#content .subcolumn1-3, #content .subcolumn2-3 {margin-right: 22px;}

#sidebar {float: right; width: 200px; font: 10px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;}
#sidebar h2 {font-size: 12px; margin: 0;}
#sidebar h3 {font-size: 11px; margin: 0;}
#sidebar h4 {font-size: 10px; margin: 0;}

select#findastore {width: 200px;}

#main .box {border: 1px solid #a1a5a9; padding: 0 5px 5px 5px; margin: 0 0 1.25em 0;}
#content .box h2 {border-bottom: 1px solid #a1a5a9; padding: 5px; background: #f2f2f2; margin: 0 -5px 5px -5px; font-size: 12px;}
#sidebar .box h2 {border-bottom: 1px solid #a1a5a9; padding: 5px; background: #f2f2f2; margin: 0 -5px 5px -5px; font-size: 11px;}

img {border: 0;}
img.left {float: left; margin: 2px 10px 5px 0; border: 0;}
img.right {float: right; margin: 2px 0 5px 10px; border: 0;}
img.across {margin: 0 0 10px 0; border: 0;}

.showmac {display: none;}
.showwin {}

ul {list-style: none outside; margin: 0; padding: 0 0 1em 0;}
ul.square {list-style: square outside; margin: 0 0 0 16px; padding: 0 0 1em 0;}
ul.circle {list-style: circle outside; margin: 0 0 0 16px; padding: 0 0 1em 0;}
ol {list-style: decimal; margin: 0 0 0 2.8em; padding: 0 0 1em 0;}
li {padding-bottom: .3em;}
ul.circle {margin-top: .3em;}
ul.square {margin-top: .3em;}

ol.last {padding: 0;}
ul.last {padding: 0;}
dl.last {padding: 0;}
li.last {padding: 0;}

sup {vertical-align: baseline; font-size: 1em; color: #76797c;}

.sosumi {font-size: 10px !important; color: #76797c;}
ol.sosumi {margin-left: 0; padding-left: 1.5em; clear: both;}

#breadcrumb, #footer {text-align: center; clear: both;}
#breadcrumb {clear: both; font-size: 10px; padding: 1em 0;}

#footer {font: 10px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif; border-top: 1px solid #a1a5a9; padding-top: 1em; text-align: center;}
#footer form {margin-bottom: 2em;}
#footer form input {vertical-align: bottom;}

div.clearer {clear: both; display: block; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px;}

#nojs {background: #f93; padding: 5px 0;}


*/ GLOBAL FOOTER TRANSITION */

#globalfooter { width:980px; clear: both; position: relative; text-align: center; margin: 18px auto; font-size: 10px; line-height: 18px; padding: 9px 0; color:#76797c; }
#globalfooter li { line-height: 18px; }

#globalfooter h3 {margin: 0; padding: 0; font-style: normal; font-weight: bold; font-size: 1em;  line-height: 18px; }
#globalfooter ul, #globalfooter ol, #globalfooter li { margin: 0; padding: 0; }
#globalfooter ul, #globalfooter ol { list-style: none; }

#globalfooter .column.first, #globalfooter .column.last { margin-left: 0 !important; }
#globalfooter .column.last { float: right !important; }
#globalfooter .column { float: left; }
