#printbar {display: block !important;}
#tabs, #footer, .hide {display: none;}

/* eMac */
#bodyemac #header {border: 0;}

/* Final Cut Express */
#bodyfce #header {border-bottom: 1px solid #a1a5a9;}

/* iMac */
body.bodyimac {background: #fff; color: #000;}
.bodyimac #headernav, .bodyimac #bottomfeatures, .bodyimac #featurelinks {display: none;}
.bodyimac #main .padder {padding: 40px;}
.bodyimac #bottombox {background: #fff;}

/* iPod */
body#bodyipodhifi {background: #fff; color: #000;}

/* MacBook Pro */
body.bodymacbookpro {background: #fff; color: #000;}
.bodymacbookpro #headernav, .bodymacbookpro #bottomfeatures, .bodymacbookpro #featurelinks {display: none;}
.bodymacbookpro #main {background-color: #fff;}
.bodymacbookpro #main .padder {padding: 40px;}
.bodymacbookpro #bottombox {background: #fff;}
.bodymacbookpro a {color: #00f;}
.bodymacbookpro #content, .bodymacbookpro #content h3, .bodymacbookpro #main p.intro, .bodymacbookpro #sidebar, .bodymacbookpro #sidebar h3 {color: #000;}

/* iPod */
body#bodyipod, body#bodynano {background-image: none; background-color: #fff;}
#bodyipod #main, #bodynano #main {border: 1px solid #000;}
#bodyipod #breadcrumb, #bodynano #breadcrumb {display: none;}

/* Mac mini */
.bodymacmini #captop {height: 10px;}
.bodymacmini #capbottom {height: 10px; border-top: 0;}

/* Mac OS X */
#bodymacosx, #bodymacosx #main, #bodymacosx #header, #bodymacosx #sidebar .box, #bodymacosx #sidebar .box div, #bodymacosx #sidebar .box h2, #bodymacosx #breadcrumb {background-image: none; background-color: #fff; color: #000;}
#bodymacosx #sidebar .box h2 {font-size: 12px; color: #76797c;}
#bodymacosx #sidebar .box .subhead {display: none;}
#sidebar #downloads, #sidebar #downloads a {color: #000;}
/*
#bodymacosx #main a:link:after, #bodymacosx #main  a:visited:after {content: " (" attr(href) ") "; font-size: 6pt;}
#bodymacosx #main a[href^="/"]:after {content: " (http://www.apple.com" attr(href) ") ";}
*/

/* Power Mac */
#bodypowermac #rendering dd, #bodypowermac #science dd {display: block;}
#bodypowermac #rendering dt, #bodypowermac #science dt {display: none;}
#bodypowermac #rendering p span {color: #ffffff;}

/* Pro */
#bodyfinalcutpro .sideleft, #bodyfinalcutpro .sideright, #bodyfinalcutpro #header, #bodyfinalcutpro #globalnav, #bodyfinalcutpro #localnav, #bodyfinalcutpro #sidebtm {display: none;}
#bodysoundtrackpro .sideleft, #bodysoundtrackpro .sideright, #bodysoundtrackpro #header, #bodysoundtrackpro #globalnav, #bodysoundtrackpro #localnav, #bodysoundtrackpro #sidebtm {display: none;}
#bodymotion .sideleft, #bodymotion .sideright, #bodymotion #header, #bodymotion #globalnav, #bodymotion #localnav, #bodymotion #sidebtm {display: none;}
#bodydvdstudiopro .sideleft, #bodydvdstudiopro .sideright, #bodydvdstudiopro #header, #bodydvdstudiopro #globalnav, #bodydvdstudiopro #localnav, #bodydvdstudiopro #sidebtm {display: none;}
#bodyshake .sideleft, #bodyshake .sideright, #bodyshake #header, #bodyshake #globalnav, #bodyshake #localnav, #bodyshake #sidebtm {display: none;}
#bodylogic .sideleft, #bodylogic .sideright, #bodylogic #header, #bodylogic #globalnav, #bodylogic #localnav, #bodylogic #sidebtm {display: none;}
#bodyprotraining .sideleft, #bodyprotraining .sideright, #bodyprotraining #header, #bodyprotraining #globalnav, #bodyprotraining #localnav, #bodyprotraining #sidebtm {display: none;}

/* Retail */
.sessiondescription {display: block; font-weight: normal !important;}
#calendarweek td {font-size: 6pt;}
#calendarmonth td {font-size: 6pt; height: 20px;}

/* QuickTime */
#bodyquicktime #main {border-width: 0px;}
#bodyquicktime #header {background-image: none; margin-top: 0;}
#bodyquicktime .nav {display: none}
#bodyquicktime #sidebar .sidebox, #bodyquicktime #main .sidebox {background: none;}
#bodyquicktime #sidebar .sidebox h3, #bodyquicktime #main .sidebox h3 {background: none; color: #000; border-bottom: 1px solid #000; border-width: 0 0 1px 0; padding: 0 0 5px 0; font-size: 14px;}
#bodyquicktime #main #mainfooter {background-image: none;}
#bodyquicktime #sidebar .sidebox.technologies p a, #bodyquicktime #sidebar .sidebox.technologies p b {padding-left: 0px; background-image: none;}

/* Switch */
body#switch {background: #fff; color: #000;}
#switch #header, #switch #sidebar {display: none;}
#switch #content {width: 100%;}
