#tabs a:link, #tabs a:hover, #tabs a:visited, #tabs a:active {color: black; text-decoration: none; font-weight: bold;}

body {background: #B7BCC3 url(http://images.apple.com/quicktime/images/body_bg.gif) repeat-x}
#header {text-align: left; margin: 15px auto 0; width: 687px; padding: 0;}
#header.quicktime {background-image: url(/quicktime/images/header_quicktime_bg.jpg);}
#main {border-left: 1px solid #777D85; border-right: 1px solid #777D85; background: white url(http://images.apple.com/quicktime/images/main_shadow.gif) repeat-x left top;  border-bottom: 1px solid #4B4F54; margin: 0 auto;}
#main { 
  width: 687px; 
  voice-family: "\"}\""; 
  voice-family:inherit;
  width:685px;
} 
#main #mainfooter {background: white url(http://images.apple.com/quicktime/images/mainfooter_bg.gif) no-repeat bottom left; height: 20px; margin: 0 -15px;}
#main .padder {padding: 20px 15px 0}
#content {width: 430px;}
#sidebar .sidebox, #main .sidebox {margin-bottom: 10px; background: #E8E8E8 url(http://images.apple.com/quicktime/images/sidebar_bg.gif) no-repeat left bottom; padding-bottom: 4px; }
#sidebar .sidebox h3, #sidebar .sidebox h4, #main .sidebox h3, #main .sidebox h4, #main .sidebox p, #main .sidebox ul, #main .sidebox ol {padding: 0 8px 4px;}
#sidebar .sidebox h3, #main .sidebox h3 {padding: 6px 8px; margin-bottom: 6px; border: 2px solid #2D3239; border-bottom: none;  background: #3B424A url(http://images.apple.com/quicktime/images/sidebar_header_bg.gif) repeat-x top left; color: white;}
#sidebar .sidebox h4, #main .sidebox h4 {margin-top: 5px; padding-bottom: 0;}
#main .subcolumn1-2, #main .subcolumn2-2 {width: 315px;}
#main .subcolumn1-3, #main .subcolumn2-3, #main .subcolumn3-3 {width: 212px; float: left;}
#main .subcolumn1-3, #main .subcolumn2-3 {margin-right: 20px;}

#content .subcolumn1-2, #content .subcolumn2-2 {width: 210px;}
#content .subcolumn1-3, #content .subcolumn2-3, #content .subcolumn3-3 {width: 130px;}

#header h1 {margin: 0;}
#main h2 { border-bottom: 1px solid #a1a5a9; padding-bottom: 0; margin-bottom: 5px;}

#breadcrumb {background: url(http://images.apple.com/quicktime/images/pageshadow_bg.gif) repeat-x top left; width: 687px; margin-top: 0; padding-top: 25px;}

#sidebar .sidebox.technologies h3 {margin: 0;}
#sidebar .sidebox.technologies {padding-bottom: 1px;}
#sidebar .sidebox.technologies p {margin: 0 2px; padding: 0;}
#sidebar .sidebox.technologies p a, #sidebar .sidebox.technologies p b {display: block; padding: 8px 6px 8px 40px; color: black; text-decoration: none; font-weight: normal; background-position:3px 50%; background-repeat: no-repeat;}
#sidebar .sidebox.technologies p a span, #sidebar .sidebox.technologies p span{color: #00f; display: block; text-decoration: underline;}
#sidebar .sidebox.technologies p a:hover {background-color: #d9d9d9;}

#sidebar .sidebox.technologies p.technologies a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_quicktime.gif);}
#sidebar .sidebox.technologies p.technologies b {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_quicktime.gif); background-color: #c9c9c9;}
#sidebar .sidebox.technologies p.mpeg4 a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_mpeg4.gif);}
#sidebar .sidebox.technologies p.aac a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_aac.gif);}
#sidebar .sidebox.technologies p.h264 a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_h264.gif);}
#sidebar .sidebox.technologies p.streaming a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_streaming.gif);}
#sidebar .sidebox.technologies p.mobile a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_mobile.gif);}
#sidebar .sidebox.technologies p.interactivity a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_interactivity.gif);}
#sidebar .sidebox.technologies p.qtvr a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_qtvr.gif);}
#sidebar .sidebox.technologies p.mediaskins a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_mediaskins.gif);}
#sidebar .sidebox.technologies p.automation a {background-image: url(http://images.apple.com/quicktime/technologies/images/icon_automation.gif);}

body.mpeg4 p.mpeg4 a, body.mpeg4 p.mpeg4 a:hover,
body.aac p.aac a, body.aac p.aac a:hover,
body.h264 p.h264 a, body.h264 p.h264 a:hover,
body.streaming p.streaming a, body.streaming p.streaming a:hover,
body.mobile p.mobile a, body.mobile p.mobile a:hover,
body.interactivity p.interactivity a, body.interactivity p.interactivity a:hover,
body.qtvr p.qtvr a, body.qtvr p.qtvr a:hover,
body.mediaskins p.mediaskins a, body.mediaskins p.mediaskins a:hover,
body.automation p.automation a, body.automation p.automation a:hover
{background-color: #c9c9c9 !important; cursor: default;}

.nav {border: 1px solid #1D2434; border-bottom: none;}
.nav {border-top: 1px solid #1D2434; border-left: 1px solid #1D2434; border-right: 1px solid #1D2434; margin: 0; width: 685px;}
.nav td {text-align: center; font-weight: bold; padding: 0;}
.nav td a {display: block;  font-size:11px; padding: 7px; text-decoration: none; background: #1D2435 url(http://images.apple.com/quicktime/images/nav_bg.gif) repeat-x top right; color: white; border-bottom: 1px solid #1D2435;}
.nav td a:hover {background-color: #495A77; background-position: top left; border-bottom-color: #384563;}
/* commented backslash hack v2 \*/
.nav { width:687px;}
/* end hack */

body.player td.player a,
body.pro td.pro a,
body.mpeg2 td.mpeg2 a,
body.broadcaster td.broadcaster a,
body.streamingserver td.streamingserver a,
body.specs td.specs a,
body.technologies td.technologies a,
body.resources td.resources a,
body.tutorials td.tutorials a,
body.faq td.faq a {background: #687EA3 url(http://images.apple.com/quicktime/images/nav_hi_bg.gif) repeat-x top left; border-bottom-color: #4A5C82;}

body.music td.music a,
body.hd td.hd a,
body.entertainment td.entertainment a,
body.education td.education a,
body.games td.games a,
body.trailers td.trailers a,
body.events td.events a {background: #687EA3 url(http://images.apple.com/quicktime/images/nav_hi_bg.gif) repeat-x top left; border-bottom-color: #4A5C82;}

ul ul {padding-bottom: 0;}
ul.collapse {margin-top: -.7em;}

img.border {border: 1px solid #a1a5a9;}
.smalltext {font-size: 10px;}
.note { color: red; }

div.clearer.sectionseparator {border-top: 1px solid #a1a5a9; margin: 20px 0;}

.nav td.hi a{background: #687EA3 url(http://images.apple.com/quicktime/images/nav_hi_bg.gif) repeat-x top left; border-bottom-color: #4A5C82;}
