p {line-height: 1.3;}
.single h1 {text-align: center;}
.single .subtitle {text-align: center;}
.subtitle {font-size: 11px; color: #999; display: block; margin: -2px 0 10px 0;}
.rule {border-top: 1px solid #c4c6c7; margin: 13px 0;}
table.layout {width: 100%; border-spacing: 0; border-collapse: collapse;}
table.layout td {vertical-align: top; border-spacing: 0; border-collapse: collapse;}
.poster {width: 1%; }
.alt .details {padding: 2px 0 0 15px;}
ul.movie-links {text-align: right;}
ul.movie-links li {text-align: right;}
ul.movie-links li a, a.official-link {white-space: nowrap; font-size: 12px; display: block; text-align: right; font-weight: bold; color: #000; text-decoration: none; background: url(http://images.apple.com/trailers/images/go_arrow.gif) 100% 2px no-repeat; padding-right: 20px;}
ul.movie-links li a:hover {color: #999;}
ul.movie-links li a.hi {color: #999;}
a.official-link {position: relative;}
a.official-link:hover {color: #999;}
#main .details h4 {font-size: 12px; margin: 0 0 3px 0;}
.soundtrack .details {vertical-align: middle; padding: 0;}
.soundtrack h5 {font-size: 11px; margin: 0 0 2px 0;}
.soundtrack .subtitle {color: #8A8A8A; font-size: 10px; text-align: left;}
.soundtrack .image img {border: 1px solid #898484;}
.soundtrack h5 a, .soundtrack h5 a:visited {text-decoration: none; color: #000;}
.soundtrack h5 a:hover {color: #999;}
.alt #main {background: url(http://images.apple.com/trailers/images/wrap.gif) 0 0 repeat-y; width: 639px; padding: 5px 13px 5px 13px; border: none; margin: 0 auto;}
.alt #main-top {background: url(http://images.apple.com/trailers/images/top_wrap.gif) 0 0 no-repeat; height: 7px; width: 665px; margin: 12px auto 0 auto; font-size: 1px;}
.alt #capbottom {background: url(http://images.apple.com/trailers/images/bottom_wrap.gif) 50% 0 no-repeat; width: 665px; margin:auto;}
#main h3 {margin: 0px 0px 5px 0px;}

.single .trailer {text-align: center; padding: 17px 0 10px 0;}
.sizes .trailer {background: #DDD; width: 444px; height: 185px; margin: 0 auto 15px auto; padding: 20px 18px; text-align: left;}
#main.sizes .trailer h2 {color: #000; border: none; margin: 0 0 2px 0; padding: 0; text-align: left;}
#main.sizes .trailer h3 {color: #777; font-size: 12px; margin: 0 0 10px 0;}
.sizes #main-inner {padding-top: 20px;}
.sizes .trailer ul {margin: 0 0 0 78px; width: 120px; font-size: 10px;}
.sizes .trailer ul li {margin: 0;}
.sizes .trailer object, .sizes .trailer embed, .sizes .trailer img {float: left; width: 60px;}
.sizes .trailer .lcol {float: left; width: 205px;}
.sizes .trailer .rcol {margin-left: 215px;}
#main {background: url(http://images.apple.com/trailers/images/wrap-content.gif) 0 0 repeat-y; width: 546px; border: none; }
#main-inner {background: url(http://images.apple.com/trailers/images/top_wrap-content.gif) 0 0 no-repeat; padding: 0 4px 8px 4px;}
#capbottom {background: url(http://images.apple.com/trailers/images/bottom_wrap-content.gif) 50% 0 no-repeat; width: 546px; margin:auto;}
#inner-content {padding: 0 13px;}
/*.art img {border: 1px solid #898484;}*/
.single .details {padding: 0 0 0 11px;}
.single .details .details {padding: 0;}
.single .details .soundtrack .details {padding-left: 10px;}
p.main {font-weight: bold;}

.studio a img {border: none;}
.studio #main {background: url(http://images.apple.com/trailers/images/wrap-wide.gif) 0 0 repeat-y; width: 735px;}
.studio #main-inner {background: url(http://images.apple.com/trailers/images/top_wrap-wide.gif) 0 0 no-repeat; padding: 0 27px 8px 27px;}
.studio #capbottom {background: url(http://images.apple.com/trailers/images/bottom_wrap-wide.gif) 0 0 no-repeat; width: 735px; margin:auto;}
.studio .header {padding-top: 20px; height: 60px; margin-bottom: 18px;}
.studio .header .details {font-size: 10px;}
.studio .header .details a {color: #FFF; text-decoration: none;}
.studio .header .details a:hover {text-decoration: underline;}
.studio table.layout td {width: 33%;}
.dvd-listing {color: #565656; margin: 10px 0 0 0;}
.dvd-listing li {margin: 0 0 15px 0; padding: 0 10px 0 0;}
.dvd-listing .art {float: left; margin-right: 10px; border: 1px solid #31373f;}
.dvd-listing h5 {margin: 0 0 5px 0; padding:0; font-size: 10px; line-height: 10px;}
* html .dvd-listing h5 {font-size: 1px; line-height: 8px;}
.dvd-listing h5 a {font-size: 10px; color: #7182b5; text-decoration: none;}
#main .dvd-listing p {margin:0 0 5px 0;}
.studio #main .archives {margin: 0; padding: 20px 0 12px 0; text-align: center;}
.studio table.layout {margin: 12px 0 0 0;}
.studio .rule {width: 727px; margin: 20px auto 0px auto; line-height: 1px; font-size; 1px;}

#globalfooter p.gf-links, #globalfooter p.gf-buy, #globalfooter p.gf-sosumi {color: #444;}
#globalfooter p a {color: #fff;}
