[Desktop Entry]
Name=Media Player
Comment=Play Movies and Songs
Exec=totem
Icon=../totem/media-player-48.png
Terminal=0
Type=Application
DocPath=
Categories=Application;AudioVideo;
